<%= form_tag(quiz_attempts_path(@quiz), method: "post", class: 'hidden') do %>
  <% @quiz.questions.shuffle.each_with_index do |question, i| %>
    <div class="quiz-question <%= "hidden" if !i.zero? %>">
      <div class="quiz-product">
        <h4><%= question.body %></h4>
      </div>

      <% question.answers.shuffle.each do |answer| %>
        <div class="quiz-answer radio-inline col-xs-12 col-sm-6 col-md-6">
          <%= label_tag "answers_#{question.id}_#{answer.id}", image_tag(answer.url), class: "quiz-image" %>
          <%= radio_button_tag "answers[#{question.id}]", answer.id, false %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="quiz-submit">
    <%= button_tag("Next", id: "quiz-submit") %>
  </div>
<% end %>