<div class="row">
  <div class="col-xs-12 col-sm-4 col-md-3">
    <dl class="dl-horizontal">
      <dt>
        Score:
      </dt>
      <dd>
        <span class="result-metric"><%= number_to_percentage(@attempt.score, precision: 2) %></span>
      </dd>
      <dt>
        Number correct:
      </dt>
      <dd>
        <span class="result-metric"><%= @attempt.correct_answer_ids.count %></span> / <span class="result-metric"><%= @quiz.questions_count %></span>
      </dd>
      <dt>
        Previous attempts:
      </dt>
      <dd>
        <span class="result-metric"><%= @attempt.user.attempts.where("quiz_id = ? AND created_at < ?", @quiz.id, @attempt.created_at).size %></span>
      </dd>
      <dt>
        Max score:
      </dt>
      <dd>
        <span class="result-metric"><%= number_to_percentage(@attempt.user.attempts.where(quiz_id: @quiz.id).map(&:score).max, precision: 2) %></span>
      </dd>
    </dl>
  </div>
  <div class="col-xs-12 col-sm-8 col-md-9">
    <% if current_user == @attempt.user %>
      <%= link_to button_tag("Try again <span class='glyphicon glyphicon-repeat'></span>".html_safe, class: "try-again"), new_quiz_attempt_path(@quiz), data: { no_turbolink: true } %>
    <% end %>

    <% @quiz.questions.each do |question| %>
      <div class="quiz-result">
        <div class="quiz-product">
          <% if result_label(@attempt, question) == "correct" %>
            <h4 class="correct"><span class='glyphicon glyphicon-ok-circle'></span> <%= question.body %></h4>
          <% else %>
            <h4 class="incorrect"><span class='glyphicon glyphicon-remove-circle'></span> <%= question.body %></h4>
          <% end %>
        </div>

        <div class="row">
          <div class="col-xs-6 col-sm-6 col-md-6">
            CORRECT ANSWER
            <div class="quiz-answer">
              <%= image_tag(question.correct_answer.url, height: "150px") %>
            </div>
          </div>

          <div class="col-xs-6 col-sm-6 col-md-6">
            YOUR ANSWER
            <div class="quiz-answer">
              <% if answer = @attempt.answer_for(question) %>
                <%= image_tag(answer.url, height: "150px") %>
              <% else %>
                N/A
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>